* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(83, 73, 73);
}

header {
  width: 50%;
  height: 100px;
  background: green;
  margin: 0;
  display: inline-block;
}

nav {
  background: yellow;
}

ul {
  background: orange;
}

li {
  display: inline-block;
}

a {  
  text-decoration: none;
}